@using ResarchGate.Models
@model ResarchGate.Models.tbl_paper
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>details</h2>


<head>

    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script>
    $("btnComment").click(function () {
        $.ajax({
            url: "@Url.Action("LeaveComment", "Comments")",
            type: "post",
            data: $("#CommentForm").serialize()




        }).done(function (response) {
            debugger;
            if (response.Success) {
                window.location.reload();
            }
            else {
                alert("Error!");
            }


        }).fail(function () {
            alert("Error2!");
        });
    });
    </script>


</head>


<div class="card card-outline-secondary my-4">
    <div class="card-header"
         Comments Section
    </div>
    <div class="card-body">

        <p>This is a test comment This is a test comment This is a test comment This is a test comment This is a test comment</p>
        <small class="text-muted">Posted by Anonymous on 28/4/2022 </small>
        <hr />
        <br />
        <p>This is a test comment This is a test comment This is a test comment This is a test comment This is a test comment<p>
            <small class="text-muted">Posted by Anonymous on 28/4/2022 </small>
            <hr />
            <br />
        <p>This is a test comment This is a test comment This is a test comment This is a test comment This is a test comment</p>
        <small class="text-muted">Posted by Anonymous on 28/4/2022 </small>
        <hr />
        <form id="CommentForm">
            <input type="hidden" name="CommentId" value="23" />
            <input type="hidden" name="ResearchId" value="@Model.p_id" />
            <div class="form-group">
                <label>Enter Your Comment</label>
                <textarea class="form-control" rows="3" placeholder="Your Comment" name="CommentText"></textarea>
            </div>
            <button class="btn btn-success" id="btnComment" type="button">Comment</button>
        </form>



    </div>

</div>

